<button> <a href="#/users/{{curID}}"> Details</a> </button>
<button>  <a href="#/photos/{{curID}}"> Photos</a> </button>


<body>
	<h> {{context}} </h>	

	<div class="attribute">
	Current ID: 
	 	<div class="value"> {{cID}} 
		</div> 
	</div>
	<div class="attribute"> 
	First Name: 
		<div class="value"> {{cfirstname}}
		</div>  
	</div>
	<div class="attribute"> 
	Last Name: 
		<div class="value"> {{clastname}} 
		</div> 
	</div>
	<div class="attribute"> 
	Location: 
		<div class="value"> {{clocation}} 
		</div> 
	</div>
	<div class="attribute"> Description: 
		<div class="value"> {{cdescription}} 
		</div> 
	</div>
	<div class="attribute"> 
	Occupation: 
		<div class="value"> {{coccupation}} 
		</div> 
	</div>

</body>
